body {
    margin:0;
}
/*.navbar {*/
/*    overflow: hidden;*/
/*    background-color: #333;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    width: 100%;*/
/*}*/

/*.navbar a {*/
/*    float: left;*/
/*    display: block;*/
/*    color: #f2f2f2;*/
/*    text-align: center;*/
/*    padding: 14px 16px;*/
/*    text-decoration: none;*/
/*    font-size: 17px;*/
/*}*/

/*.main {*/
/*    padding: 16px;*/
/*    margin-top: 30px;*/
/*    height: 1500px; !* Used in this example to enable scrolling *!*/
/*}*/

.header{
    position: fixed;
    top: 0px;
    left: 0px;
}

.leftbar{
    position: fixed;
    top: 50px;
    left: 0px;
}
.content{
    /*position: fixed;*/
    margin-left: 21%;
    margin-right: 18%;
    float: left;
}
.rightbar{
    position: fixed;
    top: 50px;
    right: 0;
    /*float: right;*/
}
p{
    text-align: justify;
}